{% extends "acp/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h3>Partitions</h3>
{% endblock %}

{% block content %}
<ul>
    {% for partition in partitions %}
        <b>{{ partition.name }}</b> | CPUS (a/i/t): {{ partition.cpus_status }} <br>
        {% for node in partition.all_nodes_list.split %}
            {% if node in allocated_nodes %}
                <div class='rectangle' style="background: #f3b32b;">
                    {{ node }}
                </div>
            {% else %}
                <div class='rectangle' style="background: #42f43e;">
                    {{ node }}
                </div>
            {% endif %}
        {% endfor %}
    <br>
    {% empty %}
    <h4>No partitions have been added yet.</h4>
    {% endfor %}
</ul>
{% endblock %}

