{% extends "acp/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
<h3>Nodes</h3>
{% endblock %}


{% block content %}
    <table class="table">
        <tr>
            <th>Node</th>
            <th>Status</th>
            <th>CPUs (A/I/O/T)</th>
            <th>Memory</th>
            <th>Tmp</th>
        </tr>

    {% for node in nodelist %}
        <tr>
           <td> {{ node.node }}</td>
            {% if node.status == 'idle' %}
               <td> <font color="#42f43e">{{node.status}}</font></td>
            {% elif node.status == 'mixed' %}
                <td><font color="#f1fe1b">{{node.status}}</font></td>
            {% else %}
                <td><font color="#f3b32b">{{node.status}}</font></td>
            {% endif %}
            <td>{{ node.cpus_status }}</td>
            <td>{{ node.memory}}</td>
            <td>{{ node.tmp }}</td>
        </tr>
    {% empty %}
    <h4>No nodes have been added yet.</h4>
    {% endfor %}
    </table>
{% endblock %}